@import url(https://fonts.googleapis.com/css?family=Oswald:300,regular&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #2c2b2b;
  line-height: 1;
  font-family: Oswald;
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Oswald;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 76.875rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: .9375rem 1fr minmax(auto,75rem) 1fr .9375rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
input[type=email],
input[type=tel],
input[type=text],
textarea {
  -webkit-appearance: none;
  appearance: none
}
.input {
  border-radius: 0!important;
  width: 100%;
  display: block;
  padding-block: 1.5rem;
  padding-inline: .75rem;
  text-align: center;
  border: .0625rem solid #fff;
  caret-color: inherit;
  color: #fff
}
.input[placeholder]:not([data-placeholder-nohiden])::-webkit-input-placeholder {
  color: #c4c4c4;
  font-size: 1.125rem;
  font-weight: 300
}
.input[placeholder]:not([data-placeholder-nohiden]):-ms-input-placeholder {
  color: #c4c4c4;
  font-size: 1.125rem;
  font-weight: 300
}
.input[placeholder]:not([data-placeholder-nohiden])::-ms-input-placeholder {
  color: #c4c4c4;
  font-size: 1.125rem;
  font-weight: 300
}
.input[placeholder]:not([data-placeholder-nohiden])::placeholder {
  color: #c4c4c4;
  font-size: 1.125rem;
  font-weight: 300
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::-webkit-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus:-ms-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::-ms-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::placeholder {
  opacity: 0
}
textarea.input {
  resize: none;
  padding: 0 0
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.title {
  color: #21062a;
  line-height: 120%
}
.title_h2 {
  text-transform: uppercase;
  display: flex;
  align-items: center
}
.title_white {
  color: #fff
}
.text {
  font-size: 1.125rem;
  color: #2c2b2b;
  font-weight: 300;
  line-height: 120%
}
.text_white {
  color: #fff
}
.text p:not(:last-child) {
  margin-bottom: .75rem
}
.line {
  display: flex;
  align-items: center;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem
}
.line::after {
  content: "";
  width: 5rem;
  height: .1875rem;
  flex: 0 0 5rem;
  background-color: #21062a
}
.line_white::after {
  background-color: #fff
}
.button {
  display: inline-block;
  width: 15.625rem;
  padding-block: .875rem;
  padding-inline: 3.25rem;
  text-transform: uppercase;
  background-color: #5a0d67;
  border: .0625rem solid #5a0d67;
  color: #fff;
  font-size: .875rem;
  font-weight: 300;
  transition: all .5s ease 0s
}
.socials {
  display: flex;
  align-items: center;
  gap: 1.25rem
}
.socials__link {
  transition: all .5s ease 0s
}
.socials__link img {
  width: 100%;
  transition: all .5s ease 0s
}
.footer__police a::after,
.footer__police a::before,
.header__phone a::after,
.header__phone a::before {
  content: "";
  position: absolute;
  width: 0;
  height: .125rem;
  bottom: -.3125rem;
  background-color: #fff;
  transition: all .3s ease 0s
}
.footer__police a::before,
.header__phone a::before {
  left: 50%
}
.footer__police a::after,
.header__phone a::after {
  right: 50%
}
.content-contacts__link a::after,
.content-contacts__link a::before {
  content: "";
  position: absolute;
  width: 0;
  height: .125rem;
  bottom: -.1875rem;
  background-color: #5a0d67;
  transition: all .3s ease 0s
}
.content-contacts__link a::before {
  left: 50%
}
.content-contacts__link a::after {
  right: 50%
}
.footer {
  background-color: #21062a;
  padding-block: 1.5rem
}
.footer__body {
  display: flex;
  gap: 1.25rem;
  justify-content: space-between;
  align-items: center
}
.footer__police a {
  font-weight: 300;
  color: #fff;
  position: relative;
  transition: all .5s ease 0s
}
.hero {
  background: url(../img/hero/bg.webp) top center no-repeat;
  color: #fff
}
.hero__title {
  text-transform: uppercase;
  line-height: 120%
}
.hero__title:not(:last-child) {
  margin-bottom: 1rem
}
.hero__subtitle:not(:last-child) {
  margin-bottom: 1.875rem
}
.hero__text:not(:last-child) {
  margin-bottom: 1.875rem
}
.hero__wrapper {
  display: flex;
  gap: .625rem;
  justify-content: space-between
}
.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
  row-gap: 1.875rem;
  justify-content: space-between
}
.header__phone a {
  text-transform: uppercase;
  transition: all .5s ease 0s;
  position: relative
}
.services__body {
  display: flex
}
.content-services {
  flex: 1 1 50%
}
.content-services__title {
  font-size: 1.25rem;
  color: #5a0d67
}
.content-services__title:not(:last-child) {
  margin-bottom: .75rem
}
.actions-services {
  flex: 1 1 50%
}
.actions-services__list {
  counter-reset: ol-numbs;
  list-style-type: decimal-leading-zero
}
.actions-services__item {
  display: flex;
  align-items: center;
  padding-block: .625rem;
  border: .0625rem solid #c4c4c4;
  transition: all .5s ease 0s
}
.actions-services__item:not(:last-child) {
  margin-bottom: .75rem
}
.actions-services__item::before {
  counter-increment: ol-numbs;
  content: "0" counter(ol-numbs);
  font-size: 2.25rem;
  color: #c4c4c4;
  text-transform: uppercase;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  transition: all .5s ease 0s
}
.actions-services__wrap {
  display: flex;
  flex-direction: column;
  row-gap: .375rem
}
.actions-services__title {
  font-size: 1.5rem;
  font-weight: 300;
  transition: all .5s ease 0s
}
.why__body {
  display: flex
}
.why__image {
  flex: 0 0 20rem
}
.why__image img {
  max-width: 100%
}
.why__title:not(:last-child) {
  margin-bottom: 3.125rem
}
.why__items {
  padding-block: 1.625rem;
  background-color: #21062a;
  display: flex;
  flex-direction: column;
  gap: 1.25rem
}
.item-why__num {
  color: #fff;
  font-size: 2.25rem;
  text-transform: uppercase;
  line-height: 120%
}
.item-why__num:not(:last-child) {
  margin-bottom: .125rem
}
.item-why__title {
  color: #fff
}
.item-why__title:not(:last-child) {
  margin-bottom: .125rem
}
.item-why__text {
  color: #fff
}
.auto-slider__slide {
  display: flex;
  justify-content: center
}
.auto-slider__item {
  max-width: 24.375rem;
  border: .0625rem solid #c4c4c4;
  padding-block: .375rem;
  padding-inline: .375rem;
  transition: all .5s ease 0s
}
.auto-slider__image {
  max-width: 23.625rem;
  margin-bottom: 1.375rem
}
.auto-slider__image img {
  max-width: 100%
}
.auto-slider__title {
  text-align: center;
  text-transform: uppercase;
  transition: all .5s ease 0s
}
.auto-slider__title:not(:last-child) {
  margin-bottom: .375rem
}
.auto-slider__subtitle {
  text-align: center;
  margin-bottom: .375rem;
  transition: all .5s ease 0s
}
.swiper-pagination {
  display: flex;
  justify-content: center;
  gap: 1.25rem;
  align-items: center
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 3.125rem;
  height: .1875rem;
  background-color: #5a0d67
}
.swiper-pagination-bullet {
  width: 3.125rem;
  height: .1875rem;
  background-color: #c4c4c4
}
.contacts__body {
  display: flex;
  justify-content: space-between;
  gap: 1.75rem
}
.content-contacts__items {
  display: flex;
  flex-direction: column;
  gap: 1.25rem
}
.content-contacts__item {
  display: flex;
  flex-direction: column;
  gap: .375rem
}
.content-contacts__label {
  color: #5a0d67
}
.content-contacts__link a {
  transition: all .5s ease 0s;
  position: relative
}
.form-contacts {
  background-color: #21062a;
  display: flex;
  flex-direction: column;
  align-items: center
}
.form-contacts__title {
  color: #fff
}
.form-contacts__title:not(:last-child) {
  margin-bottom: 1rem
}
.form-contacts__inputs {
  display: flex;
  flex-direction: column;
  gap: .75rem;
  width: 100%
}
._watcher-view .header {
  -webkit-animation: slide-in-top .5s cubic-bezier(.25,.46,.45,.94) .5s both;
  animation: slide-in-top .5s cubic-bezier(.25,.46,.45,.94) .5s both
}
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1
  }
}
._watcher-view .hero__image {
  -webkit-animation: slide-in-tr .5s cubic-bezier(.25,.46,.45,.94) 1s both;
  animation: slide-in-tr .5s cubic-bezier(.25,.46,.45,.94) 1s both
}
@-webkit-keyframes slide-in-tr {
  0% {
    -webkit-transform: translateY(-1000px) translateX(1000px);
    transform: translateY(-1000px) translateX(1000px);
    opacity: 0
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
    opacity: 1
  }
}
@keyframes slide-in-tr {
  0% {
    -webkit-transform: translateY(-1000px) translateX(1000px);
    transform: translateY(-1000px) translateX(1000px);
    opacity: 0
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
    opacity: 1
  }
}
._watcher-view .slide-in-left-02 {
  -webkit-animation: slide-in-left .5s cubic-bezier(.25,.46,.45,.94) .2s both;
  animation: slide-in-left .5s cubic-bezier(.25,.46,.45,.94) .2s both
}
._watcher-view .slide-in-left-03 {
  -webkit-animation: slide-in-left .5s cubic-bezier(.25,.46,.45,.94) .3s both;
  animation: slide-in-left .5s cubic-bezier(.25,.46,.45,.94) .3s both
}
._watcher-view .slide-in-left-04 {
  -webkit-animation: slide-in-left .5s cubic-bezier(.25,.46,.45,.94) .4s both;
  animation: slide-in-left .5s cubic-bezier(.25,.46,.45,.94) .4s both
}
._watcher-view .slide-in-left-05 {
  -webkit-animation: slide-in-left .5s cubic-bezier(.25,.46,.45,.94) .5s both;
  animation: slide-in-left .5s cubic-bezier(.25,.46,.45,.94) .5s both
}
._watcher-view .slide-in-left-06 {
  -webkit-animation: slide-in-left .5s cubic-bezier(.25,.46,.45,.94) .6s both;
  animation: slide-in-left .5s cubic-bezier(.25,.46,.45,.94) .6s both
}
._watcher-view .slide-in-left-07 {
  -webkit-animation: slide-in-left .5s cubic-bezier(.25,.46,.45,.94) .7s both;
  animation: slide-in-left .5s cubic-bezier(.25,.46,.45,.94) .7s both
}
._watcher-view .slide-in-left-08 {
  -webkit-animation: slide-in-left .5s cubic-bezier(.25,.46,.45,.94) .8s both;
  animation: slide-in-left .5s cubic-bezier(.25,.46,.45,.94) .8s both
}
._watcher-view .slide-in-left-09 {
  -webkit-animation: slide-in-left .5s cubic-bezier(.25,.46,.45,.94) .9s both;
  animation: slide-in-left .5s cubic-bezier(.25,.46,.45,.94) .9s both
}
._watcher-view .slide-in-left-10 {
  -webkit-animation: slide-in-left .5s cubic-bezier(.25,.46,.45,.94) 1s both;
  animation: slide-in-left .5s cubic-bezier(.25,.46,.45,.94) 1s both
}
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-62.5rem);
    transform: translateX(-62.5rem);
    opacity: 0
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-62.5rem);
    transform: translateX(-62.5rem);
    opacity: 0
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1
  }
}
._watcher-view .slide-in-right-02 {
  -webkit-animation: slide-in-right .5s cubic-bezier(.25,.46,.45,.94) .2s both;
  animation: slide-in-right .5s cubic-bezier(.25,.46,.45,.94) .2s both
}
._watcher-view .slide-in-right-03 {
  -webkit-animation: slide-in-right .5s cubic-bezier(.25,.46,.45,.94) .3s both;
  animation: slide-in-right .5s cubic-bezier(.25,.46,.45,.94) .3s both
}
._watcher-view .slide-in-right-04 {
  -webkit-animation: slide-in-right .5s cubic-bezier(.25,.46,.45,.94) .4s both;
  animation: slide-in-right .5s cubic-bezier(.25,.46,.45,.94) .4s both
}
._watcher-view .slide-in-right-05 {
  -webkit-animation: slide-in-right .5s cubic-bezier(.25,.46,.45,.94) .5s both;
  animation: slide-in-right .5s cubic-bezier(.25,.46,.45,.94) .5s both
}
._watcher-view .slide-in-right-06 {
  -webkit-animation: slide-in-right .5s cubic-bezier(.25,.46,.45,.94) .6s both;
  animation: slide-in-right .5s cubic-bezier(.25,.46,.45,.94) .6s both
}
._watcher-view .slide-in-right-07 {
  -webkit-animation: slide-in-right .5s cubic-bezier(.25,.46,.45,.94) .7s both;
  animation: slide-in-right .5s cubic-bezier(.25,.46,.45,.94) .7s both
}
._watcher-view .slide-in-right-08 {
  -webkit-animation: slide-in-right .5s cubic-bezier(.25,.46,.45,.94) .8s both;
  animation: slide-in-right .5s cubic-bezier(.25,.46,.45,.94) .8s both
}
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(62.5rem);
    transform: translateX(62.5rem);
    opacity: 0
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(62.5rem);
    transform: translateX(62.5rem);
    opacity: 0
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1
  }
}
._watcher-view .slide-in-bottom-05 {
  -webkit-animation: slide-in-bottom .5s cubic-bezier(.25,.46,.45,.94) .5s both;
  animation: slide-in-bottom .5s cubic-bezier(.25,.46,.45,.94) .5s both
}
@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(62.5rem);
    transform: translateY(62.5rem);
    opacity: 0
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(62.5rem);
    transform: translateY(62.5rem);
    opacity: 0
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1
  }
}
.swiper {
  overflow: hidden
}
.swiper-initialized {
  touch-action: pan-y
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative
}
.swiper-vertical .swiper-wrapper {
  flex-direction: column
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start
}
.swiper-initialized .swiper-slide {
  flex-shrink: 0
}
.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
.swiper-button-lock {
  display: none!important
}
@media (min-width:76.875em) {
  [class*=page__] {
    padding-block: 3.125rem
  }
  .title_h2 {
    font-size: 2.25rem
  }
  .title_h3 {
    font-size: 1.5rem
  }
  .hero {
    padding-top: 2.25rem
  }
  .hero__body {
    padding-top: 3.75rem
  }
  .hero__title {
    font-size: 4.5rem
  }
  .hero__actions {
    margin-bottom: 4.375rem
  }
  .header {
    padding-block: .625rem
  }
  .header__phone a {
    font-size: 2.25rem
  }
  .services__title:not(:last-child) {
    margin-bottom: 3.125rem
  }
  .services__body {
    -webkit-column-gap: 6.25rem;
    -moz-column-gap: 6.25rem;
    column-gap: 6.25rem
  }
  .content-services__item:not(:last-child) {
    margin-bottom: 3.125rem
  }
  .actions-services__item {
    width: 28.125rem
  }
  .actions-services__item {
    padding-inline: 1.25rem
  }
  .actions-services__item {
    -webkit-column-gap: 2.5rem;
    -moz-column-gap: 2.5rem;
    column-gap: 2.5rem
  }
  .why__body {
    -webkit-column-gap: 5.875rem;
    -moz-column-gap: 5.875rem;
    column-gap: 5.875rem
  }
  .why__title {
    padding-left: 11.625rem
  }
  .why__items {
    padding-inline: 11.625rem
  }
  .auto__title:not(:last-child) {
    margin-bottom: 3.125rem
  }
  .swiper-pagination {
    padding-top: 3.125rem
  }
  .content-contacts__title:not(:last-child) {
    margin-bottom: 3.125rem
  }
  .form-contacts {
    padding-block: 3.125rem
  }
  .form-contacts {
    padding-inline: 4.75rem
  }
  .form-contacts__inputs:not(:last-child) {
    margin-bottom: 4.875rem
  }
}
@media (max-width:20em) {
  [class*=page__] {
    padding-block: 1.25rem
  }
  .title_h2 {
    font-size: 1.75rem
  }
  .title_h3 {
    font-size: 1.25rem
  }
  .hero {
    padding-top: .625rem
  }
  .hero__body {
    padding-top: 1.875rem
  }
  .hero__title {
    font-size: 3rem
  }
  .hero__actions {
    margin-bottom: 1.875rem
  }
  .header {
    padding-block: .625rem
  }
  .header__phone a {
    font-size: 1.75rem
  }
  .services__title:not(:last-child) {
    margin-bottom: 1.875rem
  }
  .content-services__item:not(:last-child) {
    margin-bottom: 1.875rem
  }
  .actions-services__item {
    width: 18.125rem
  }
  .auto__title:not(:last-child) {
    margin-bottom: 1.875rem
  }
  .swiper-pagination {
    padding-top: 1.25rem
  }
  .content-contacts__title:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .form-contacts {
    padding-block: .625rem
  }
  .form-contacts {
    padding-inline: .625rem
  }
  .form-contacts__inputs:not(:last-child) {
    margin-bottom: 1.875rem
  }
}
@media (max-width:61.99875em) {
  .why__body {
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem
  }
  .why__title {
    padding-left: 1.25rem
  }
  .why__title {
    text-align: center
  }
  .why__items {
    padding-inline: 1.25rem
  }
}
@media (max-width:61.99875em)and (max-width:47.99875em) {
  .why__body {
    -webkit-column-gap: .625rem;
    -moz-column-gap: .625rem;
    column-gap: .625rem
  }
}
@media (max-width:47.99875em) {
  .footer__body {
    flex-direction: column
  }
  .hero__title {
    text-align: center
  }
  .hero__subtitle {
    text-align: center
  }
  .hero__text {
    text-align: center
  }
  .hero__wrapper {
    flex-wrap: wrap;
    row-gap: 2.5rem
  }
  .hero__wrap {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    align-items: center
  }
  .services__body {
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    flex-wrap: wrap;
    row-gap: 2.5rem;
    justify-content: center
  }
  .content-services {
    flex: 1 1 100%
  }
  .content-services__button {
    display: flex;
    justify-content: center;
    margin: 0 auto
  }
  .actions-services {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    align-items: center
  }
  .actions-services__item {
    padding-inline: .625rem
  }
  .actions-services__item {
    -webkit-column-gap: .625rem;
    -moz-column-gap: .625rem;
    column-gap: .625rem
  }
  .why__body {
    flex-wrap: wrap;
    row-gap: 1.875rem
  }
  .why__image {
    flex: 0 1 20rem
  }
  .why__content {
    flex: 1 1 100%
  }
  .contacts__body {
    flex-wrap: wrap;
    justify-content: center
  }
  .form-contacts {
    flex: 1 1 100%
  }
}
@media (max-width:29.99875em) {
  .line_white::after {
    display: none
  }
  .hero__actions {
    display: flex;
    justify-content: center
  }
  .header {
    justify-content: center
  }
}
@media (min-width:20em)and (max-width:76.875em) {
  [class*=page__] {
    padding-block: clamp(1.25rem ,.5906593407rem + 3.2967032967vw ,3.125rem)
  }
  .title_h2 {
    font-size: clamp(1.75rem ,1.5741758242rem + .8791208791vw ,2.25rem)
  }
  .title_h3 {
    font-size: clamp(1.25rem ,1.1620879121rem + .4395604396vw ,1.5rem)
  }
  .hero {
    padding-top: clamp(.625rem ,.0535714286rem + 2.8571428571vw ,2.25rem)
  }
  .hero__body {
    padding-top: clamp(1.875rem ,1.2156593407rem + 3.2967032967vw ,3.75rem)
  }
  .hero__title {
    font-size: clamp(3rem ,2.4725274725rem + 2.6373626374vw ,4.5rem)
  }
  .hero__actions {
    margin-bottom: clamp(1.875rem ,.9958791209rem + 4.3956043956vw ,4.375rem)
  }
  .header {
    padding-block: clamp(.625rem ,.625rem + 0 ,.625rem)
  }
  .header__phone a {
    font-size: clamp(1.75rem ,1.5741758242rem + .8791208791vw ,2.25rem)
  }
  .services__title:not(:last-child) {
    margin-bottom: clamp(1.875rem ,1.4354395604rem + 2.1978021978vw ,3.125rem)
  }
  .content-services__item:not(:last-child) {
    margin-bottom: clamp(1.875rem ,1.4354395604rem + 2.1978021978vw ,3.125rem)
  }
  .actions-services__item {
    width: clamp(18.125rem ,14.6085164835rem + 17.5824175824vw ,28.125rem)
  }
  .auto__title:not(:last-child) {
    margin-bottom: clamp(1.875rem ,1.4354395604rem + 2.1978021978vw ,3.125rem)
  }
  .swiper-pagination {
    padding-top: clamp(1.25rem ,.5906593407rem + 3.2967032967vw ,3.125rem)
  }
  .content-contacts__title:not(:last-child) {
    margin-bottom: clamp(1.25rem ,.5906593407rem + 3.2967032967vw ,3.125rem)
  }
  .form-contacts {
    padding-block: clamp(.625rem ,-.2541208791rem + 4.3956043956vw ,3.125rem)
  }
  .form-contacts {
    padding-inline: clamp(.625rem ,-.8255494505rem + 7.2527472527vw ,4.75rem)
  }
  .form-contacts__inputs:not(:last-child) {
    margin-bottom: clamp(1.875rem ,.8200549451rem + 5.2747252747vw ,4.875rem)
  }
}
@media (min-width:47.99875em)and (max-width:76.875em) {
  .services__body {
    -webkit-column-gap: clamp(1.25rem ,-7.0611120731rem + 17.3152677373vw ,6.25rem);
    -moz-column-gap: clamp(1.25rem ,-7.0611120731rem + 17.3152677373vw ,6.25rem);
    column-gap: clamp(1.25rem ,-7.0611120731rem + 17.3152677373vw ,6.25rem)
  }
  .actions-services__item {
    padding-inline: clamp(.625rem ,-.4138890091rem + 2.1644084672vw ,1.25rem)
  }
  .actions-services__item {
    -webkit-column-gap: clamp(.625rem ,-2.4916670274rem + 6.4932254015vw ,2.5rem);
    -moz-column-gap: clamp(.625rem ,-2.4916670274rem + 6.4932254015vw ,2.5rem);
    column-gap: clamp(.625rem ,-2.4916670274rem + 6.4932254015vw ,2.5rem)
  }
}
@media (min-width:61.99875em)and (max-width:76.875em) {
  .why__body {
    -webkit-column-gap: clamp(1.25rem ,-18.0253024956rem + 31.0898243845vw ,5.875rem);
    -moz-column-gap: clamp(1.25rem ,-18.0253024956rem + 31.0898243845vw ,5.875rem);
    column-gap: clamp(1.25rem ,-18.0253024956rem + 31.0898243845vw ,5.875rem)
  }
  .why__title {
    padding-left: clamp(1.25rem ,-41.9891920847rem + 69.7420384842vw ,11.625rem)
  }
  .why__items {
    padding-inline: clamp(1.25rem ,-41.9891920847rem + 69.7420384842vw ,11.625rem)
  }
}
@media (max-width:61.99875em)and (min-width:76.875em) {
  .why__body {
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem
  }
}
@media (max-width:61.99875em)and (min-width:47.99875em)and (max-width:76.875em) {
  .why__body {
    -webkit-column-gap: clamp(.625rem ,-.4138890091rem + 2.1644084672vw ,1.25rem);
    -moz-column-gap: clamp(.625rem ,-.4138890091rem + 2.1644084672vw ,1.25rem);
    column-gap: clamp(.625rem ,-.4138890091rem + 2.1644084672vw ,1.25rem)
  }
}
@media (any-hover:hover) {
  .button:hover {
    color: #5a0d67;
    background-color: #fff
  }
  .socials__link:hover img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
  }
  .footer__police a:hover::after,
  .footer__police a:hover::before,
  .header__phone a:hover::after,
  .header__phone a:hover::before {
    width: 50%
  }
  .content-contacts__link a:hover::after,
  .content-contacts__link a:hover::before {
    width: 50%
  }
  .actions-services__item:hover {
    border: .0625rem solid #5a0d67;
    width: 31.25rem
  }
  .actions-services__item:hover .actions-services__title {
    color: #5a0d67
  }
  .actions-services__item:hover::before {
    color: #5a0d67
  }
  .auto-slider__item:hover {
    border: .0625rem solid #5a0d67;
    background-color: #5a0d67
  }
  .auto-slider__item:hover .auto-slider__subtitle,
  .auto-slider__item:hover .auto-slider__title {
    color: #fff
  }
  .swiper-pagination-bullet.swiper-pagination-bullet-active:hover {
    cursor: pointer
  }
  .swiper-pagination-bullet:hover {
    cursor: pointer
  }
  .content-contacts__link a:hover {
    color: #5a0d67
  }
}